<!-- Using AJAX here -->

<script src="/javascripts/client.js"></script>

<!-- Error Message-->

<div id="error" class="invisible">
  <p>
    <span class="remark">
      <strong>
        Error:
      </strong>
      <span id="error_message">
      </span>
    </span>
  </p>
  <button class="to_menu" onclick="window.location.href('/')">
    Main Menu
  </button>
</div>

<!-- Scores -->

<div id="scores">
  <p>
    Player 1 Score: <strong id="score1">0</strong>&#09;
    Player 2 Score: <strong id="score2">0</strong>
  </p>
  <p>
    Turn Score: <strong id="turn_score">0</strong>
  </p>
</div>

<!-- Messages -->

<div id="messages">
  <p id="message_1">
  </p>
  <p id="message_2">
  </p>
  <p id="message_3">
    You are player <strong id="player"><%= @player %></strong>
  </p>
  <p id="message_4">
  </p>
  <div id="die">
    <button id="roll" class="invisible">
      Roll the die    
    </button>
    <button id="hold" class="invisible">
      Hold your score   
    </button>
    <p id="number">
    </p>
  </div>
  <button id='back_to_menu' onclick="window.location.href('/')">
    Main Menu
  </button>
</div>

<!-- Roll the die and DROP DA BASS! -->
