<form id='form'>
  <button class='index' form='form' type='submit' formmethod='get' formaction='/NewGame'>Create New Game</button>
  <br /><br />
  <button class='index' form='form' type='submit' formmethod='get' formaction='/JoinGame'>Join An Existing Game</button>
</form>
