<h2>Existing Games</h2>
<br />
<form id="form" method="post" action="/Joining">
  <%if $games.empty? == true %>
    There are no available games. GG WP
    <br />
    <br />
    <button form="form" type="submit" formmethod="post" formaction="/">Main Menu</button>
  <% else %>
    Choose a game
    <select name="juego">
      <% puts $games; 
         $games.each do |key, value|
        if(value['started'] == false) %>
          <option value=<%= key %>><%= value["name"] %> (Crated by <%= key %>)</option>
        <% end
      end %>
    </select>
    <br />
    <br />
    <input type="submit" value="Join Game">  
    <button form="form" type="submit" formmethod="post" formaction="/">Nevermind</button>
  <% end %>
</form> 
