<!DOCTYPE html>

<html>
<head>
    <title><%= @title %></title>
    <link href="/styles/my_styles.css" rel="stylesheet" />
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
</head>

<body>
  <h1>The Game of Pig</h1>
  <%= yield %>
</body>
</html>
