<h2>New Game</h2>
<form id="form" method="post" action="/CreateGame">
  Your Name <input type="text" placeholder="Write your name" name="name" length=30 /><br /><br />
  Name of the Game <input type="text" placeholder="Write your name" name="game" length=30 /><br /><br />
  <input type="submit" value="Create Game">
  <button form="form" type="submit" formmethod="post" formaction="/">Nevermind</button>
</form>
