@font-face {
  font-family: title;
  src: url("/fonts/adobe-garamond-pro-1166234.woff") format("woff");
} 

@font-face {
  font-family: last-phrase;
  src: url("/fonts/gill-sans-w04-book.woff") format("woff");
} 

body {
    color: #FFFFFF;
    background-color: Lavender;
    background-image:url("/images/ezreal.jpg");
    background-size: 130% auto;
    margin: 20px;
    font-family: last-phrase;
    text-align:left;
}

h1 {
  color: Gold;
  text-align:center;
  font-family: title;
  text-shadow: 0 2px 2px #333, 0 -2px 2px #EAEAEA;
}

h2 {
  color: Gold;
  font-family: title;
}

h3 {
  color: #FFCC99;
  font-family: title;
}
