@font-face {
  font-family: title;
  src: url("/fonts/adobe-garamond-pro-1166234.woff") format("woff");
} 

@font-face {
  font-family: last-phrase;
  src: url("/fonts/gill-sans-w04-book.woff") format("woff");
} 

body {
    color: DarkBlue;
    background-color: Lavender;
    background-image:url('/images/sejuani.jpeg');
    background-size: 100% auto;
    margin: 20px;
    font-family: last-phrase;
    text-align:center;
    text-shadow: 0 2px 2px #333, 0 -2px 2px #EAEAEA;
}

h1 {
  font-family: title;
}

button {
  width: 15em;
  font-size: 16px; font-weight: bold; color: #000000;
  padding: 0 20px; height: 40px; vertical-align: middle;
  font-family: last-phrase;
  border:5px groove blue;
}

input[type="submit"] {
  width: 12em;
  font-size: 16px; font-weight: bold; color: #000000;
  padding: 0 20px; height: 40px; vertical-align: middle;
  font-family: last-phrase;
  border:5px groove blue;

}

select {
  width: 16em;
  font-size: 14px; font-weight: bold; color: #000000;
  padding: 0 20px; height: 30px; vertical-align: middle;
  font-family: last-phrase;
  border:5px groove blue;
}

.index{
  width: 16em;
  font-size: 16px; font-weight: bold; color: #000000;
  padding: 0 20px; height: 60px; vertical-align: middle;
  font-family: last-phrase;
  border:5px groove blue;  
}

.invisible {
    display: none;
}
